<div class="login-nemesis">
    <div class="logintitle">
        <p>{{test}}</p>
    </div>
    <div class="inputs">
        <div class="login">
            <form class="loginform" id="login" action="" method="POST">
                <mat-form-field class="loginwidth">
                    <mat-label>EMAIL</mat-label>
                    <input matInput type="email" name="email" required autofocus ngModel><br>
                </mat-form-field>
                <mat-form-field class="loginwidth">
                    <mat-label>PASSWORD</mat-label>
                    <input matInput type="password" name="password" ngModel><br>
                    <!-- <mat-hint align="end">Min 5 characters</mat-hint> -->
                </mat-form-field>
                <input class="inputbutton" type="submit" value="login"><br>
            </form>
        </div>
        <div class="copyright">
            <p>© Nemesis 2020</p>
        </div>
    </div>
</div>