<div class="login-nemesis">
    <div class="logintitle">
        <p>{{test}}</p>
    </div>
    <div class="inputs">
        <div class="login">
            <form id="login" action="" method="POST">
                <input type="email" name="email" required autofocus ngModel><br>
                <input type="password" name="password" ngModel><br>
                <input type="submit" value="login"><br>
            </form>
        </div>
        <div class="copyright">
            <p>© Nemesis 2020</p>
        </div>
    </div>
</div>