body {
  font-family: Roboto, sans-serif;
}

.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /*-webkit-font-feature-settings: 'liga';*/
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp';
}

html, body { height: 100%; }
body { margin: 0; font-family: Monstserrat, "Helvetica Neue", sans-serif; }
.login-nemesis {
background-image: linear-gradient( rgb(252, 190, 56),rgb(223, 148, 61));
height: 120%;
}
.logintitle {
    margin:auto;
    padding: 100px 0px 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat!important;
    font-size: 3em;
    font-weight: 100;
    color: rgba(223, 120, 61, 0.3);
} 
.copyright{
  margin:auto;
  padding: 100px 0px 0px 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat!important;
  font-size: 1em;
  font-weight: 400;
  color: rgba(68, 41, 25, 0.3);
} 

/* PARA PANTALLAS PEQUENAS */
@media (min-width: 250px){
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  max-height: 250px;
}

.boxform{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  margin-top: 3rem;
}

}

/* PARA PANTALLAS MAYORES A CELULARES */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 350px;
  height: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  margin-top: 3rem;
}

.loginform{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loginwidth{
  width: 80%;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgb(223, 148, 61);
}

.custom-form {
  min-width: 220px;
  max-width: 340px;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  color: black;
  margin-top: 3rem;
}
/* .custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
} */

 .inputbutton {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: bold;
  background-image: linear-gradient(180deg, rgb(69,83,95),rgb(42,52,62));
  width: 60%;
  display: block;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #b1b1b1;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
} 

/*NavBar SideBar colors*/
.mat-list-base .mat-list-item {
color:rgba(255, 255, 255, 0.7);
}

.mat-toolbar.mat-primary {
color: #212121;
font-weight: 300;
}

.grid-container-create{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 20px 15px;
}

.loginname, .loginname-logout{
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  text-transform: uppercase;
  padding-bottom: 10px;
}

.loginname-role {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 10px;
}

.table {
  padding: 1em;
}

.h1-form{
padding-right: 20px;
display: flex;
flex-wrap: wrap;
}

.create-form{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.boxform{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  margin-top: 3rem;
}

.cancel{
  color: #ff4554;
}

.savebtn{
  color: #99c794;
}

.margen-boton {
  position: absolute;
  right: 30px;
  top: 15px;
}

.botonflotante{
  position: absolute;
  background-image:linear-gradient( rgb(252, 190, 56),rgb(223, 148, 61));
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(41, 50, 60, 0.7);
}

.botonflotante a{
display: block;
text-decoration: none;
font-size: 2em;
font-weight: 100;
  color: white;
  vertical-align: middle;
}