body {
  font-family: Roboto, sans-serif;
}

.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /*-webkit-font-feature-settings: 'liga';*/
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp';
}

html, body { height: 100%; }
body { margin: 0; font-family: Monstserrat, "Helvetica Neue", sans-serif; }
.login-nemesis {
background-image: linear-gradient( rgb(252, 190, 56),rgb(223, 148, 61));
height: 100%;
}
.logintitle {
    margin:auto;
    padding: 100px 0px 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat!important;
    font-size: 3em;
    font-weight: 100;
    color: rgba(223, 120, 61, 0.3);
} 
.copyright{
  margin:auto;
  padding: 100px 0px 0px 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat!important;
  font-size: 1em;
  font-weight: 400;
  color: rgba(68, 41, 25, 0.3);
} 

/* PARA PANTALLAS PEQUENAS */
@media (min-width: 250px){
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  max-height: 250px;
}
}

/* PARA PANTALLAS MAYORES A CELULARES */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 450px;
  height: 250px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  margin-top: 3rem;
}

.custom-form {
  min-width: 300px;
  max-width: 300px;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.295);
  color: black;
  margin-top: 3rem;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}


 .custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: bold;
  background-image: linear-gradient(180deg, rgb(69,83,95),rgb(42,52,62));
  width: 80%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #b1b1b1/* -3px -3px 8px #ffffff*/;
  cursor: pointer;
  margin: auto;
} 

/*NavBar SideBar colors*/
.mat-list-base .mat-list-item {
color:rgba(255, 255, 255, 1);
}

.mat-toolbar.mat-primary {
color: rgba(223, 120, 61, 0.3);
font-weight: 300;
}